.bg {
  background: linear-gradient(
      0deg,
      rgba(32, 33, 36, 0.4),
      rgba(32, 33, 36, 0.4)
    ),
    url("../public/bg-best.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  color: white;
}
.title {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}
.bests {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px 80px;
}
.card {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-decoration: underline;
}
.card div {
  padding-top: 22px;
}
.card span {
  font-weight: bold;
}
@media (max-width: 810px) {
  .bg {
    background-position: left;
  }
  .bests {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 540px) {
  .title {
    padding: 20px 20px 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }
  .bests {
    display: grid;
    grid-template-columns: 130px 130px;
    grid-template-rows: 1fr 1fr;
  }
}
