.img {
  position: relative;
  z-index: 1;
}
.carousel {
  width: 100vw;
}

.item {
  position: relative;
  height: 604px;
}
.content {
  position: absolute;
  z-index: 10;
  top: 140px;
  left: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 610px;
}
.title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 85px;
  color: #ffffff;
  padding-bottom: 20px;
  text-align: left;
}
.title2 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 85px;
  padding-bottom: 20px;
  color: #202124;
}
.description2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  max-width: 610px;
  padding-bottom: 40px;
  color: #202124;
  text-align: left;
}
.description {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  max-width: 610px;
  text-align: left;
  padding-bottom: 40px;
}

.btn {
  padding: 10px 20px;
  background: #ff4e6d;
  box-shadow: 0px 16px 20px -10px rgba(255, 78, 109, 0.2);
  border-radius: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 10px;
}
.btnfloat {
  padding: 10px 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ff4e6d;
  margin-bottom: 10px;
}
.capture {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.navigation {
  position: absolute;
  left: 190px;
  bottom: 10px;
  z-index: 5;
}
.dots {
  width: 20px;
  height: 3px;
  margin-right: 30px;
  position: relative;
}
.dots::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: #ff4e6d;
  border-radius: 2px;
}
.dots:last-child {
  margin-right: 0;
}
@media (max-width: 1200px) {
  .content {
    top: calc(50% - 104px);
    left: 60px;
  }
  .navigation {
    left: 34px;
    bottom: 0;
  }
  .description2,
  .description {
    max-width: 400px;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 20px;
  }
  .title,
  .title2 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 64px;
  }
  .capture {
    font-size: 12px;
    line-height: 18px;
  }
}
@media (max-width: 768px) {
  .description2,
  .description {
    max-width: 300px;
  }
  .item {
    height: 322px;
  }
  .title2,
  .title {
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  .description2,
  .description {
    max-width: 280px;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 20px;
  }
  .title,
  .title2 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 460px) {
  .item {
    height: 234px;
  }
  .content,
  .capture {
    width: 280px;
  }
  .btn {
    font-size: 12px;
  }
  .description2,
  .description {
    max-width: 240px;
  }
  .content {
    left: 20px;
  }
}
